<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/mycss.css">
    <link href="https://fonts.googleapis.com/css?family=Mansalva&display=swap" rel="stylesheet">
    <title>Bootcamp</title>
</head>

<body style="margin-top: 30px;">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/bootcamp">About the Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author">About the Author</a>
        </li>
    </ul>
</nav>
<br/><br/>
<h1 style="margin-left: 300px;">Program Design</h1>
<br/><br/>
<p class="pcss2">
    "The hardest single part of building a software system is deciding precisely what to build." —Fred Brooks
    When writing a program you need to begin with a solid understanding of the problem you intend to solve. Then, move on to understanding the data you will be using in your solution. Your program will use data in variables, constants and literals.
    Your program will also contain data structures, files and data validation.<br/>
</p>
<h2 class="pcss2">Overview: Developing software solutions</h2>
<p class="pcss2">Requirements and design phase:</p>
<ul style="margin-left: 330px;font-size: 24px">
    <li>Define the problem to be solved.</li>
    <li>Outline your solution on paper.</li>
    <li>Develop the outline into an algorithm.</li>
    <li>Test the algorithm for correctness.</li>
    <li>Document your solution.</li>
</ul>
<p class="pcss2">Implementation and verification phase:</p>
<ul style="margin-left: 330px;font-size: 24px">
    <li>Code the algorithm into a specific programming language.</li>
    <li>Run the program on the computer.</li>
    <li>Test your program, make corrections.</li>
    <li>Repeat.</li>

</ul>
<p class="pcss2">Maintenance phase:</p>
<ul style="margin-left: 330px;font-size: 24px">
    <li>Document and maintain the program.</li>

</ul>
<br/>
<h3 class="pcss2">Three different approaches to program design:</h3>
<p class="pcss2">Requirements and design phase:</p>
<ul style="margin-left: 330px;font-size: 24px">
    <li>Procedural-driven

    </li>
    <li>object-oriented / event-driven</li>
    <li>data-driven program design (called symbolic programming)</li>
</ul>
<h2 class="pcss2">Top-down development</h2>
<p class="pcss2">Top-down development is an approach to software development. The designer formulates an overview of the problem. The designer then determines the necessary subsystems or components required to solve the problem. Each component is further refined in greater detail. At some point a solution emerges. Top-down development emphasizes planning.</p>
<br/>
<h3 class="pcss2">Algorithm</h3>
<p class="pcss2">An algorithm is a set of detailed, unambiguous and ordered instructions. An algorithm illustrates steps to convert given input into the desired output.</p>
<h3 class="pcss2">Pseudocode</h3>
<p class="pcss2">Pseudocode is an English language-like way of representing the algorithm<br/>

    Advantages of Pseudocode<br/>
    Conventions for Pseudocode</p><br/><br/>


<footer>
    <div class="footer-main-div">
        <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>
        <div class="footer-social-icons">
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100001163541033
" target="_blank"><i class="fa fa-facebook"></i></a> </li>
                <li><a href="https://linkedin.com/in/emily-marinovich" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
            </ul>
        </div>

    </div>

</footer>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
</body>
</html>