<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/mycss.css">
    <link href="https://fonts.googleapis.com/css?family=Notable|Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Home page</title>
</head>
<body >


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/bootcamp">About the Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author">About the Author</a>
        </li>


    </ul>
</nav>
<br/>
<h1>Blog Home</h1><br/>
<p class="pcss">We offer Java related knowledge at this blog. If you have any opinions and want to discuss with the blog author, please click the social media icons listed at the bottom of this page. We appreciate your passionate study for Java language. </p>
<div class="container">


    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">2 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ffcce6;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">4 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ffcce6;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>

    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ffcce6;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>

    </div><br>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ffcce6;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>

    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ffcce6;">
            <h3>Git Set-up</h3>
            <p style="font-style: italic;">26 September 2019</p>
            <p class="pcss1">Those are frequently used commands when we set up Git. <span><a href="/gitsetup">View More</a></span></p>
        </div>

    </div><br/>

</div>>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<footer>
<div class="footer-main-div">
    <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>
    <div class="footer-social-icons">
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100001163541033
" target="_blank"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://linkedin.com/in/emily-marinovich" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
    </div>

</div>

</footer>
</body>
</html>
