<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/mycss.css">
    <link href="https://fonts.googleapis.com/css?family=Notable|Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <title>Home page</title>
</head>
<body >


<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="/bootcamp">About the Bootcamp</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/author">About the Author</a>
        </li>


    </ul>
</nav>
<br/>
<h1>Blog Home</h1><br/>
<p class="pcss">I am sharing Java related knowledge learned from the Java Web Developer Boot Camp of Montgomery College at this blog. There are five categories with two entries for those posts. If you have any opinions and want to discuss with the blog author, please click the social media icons listed at the bottom of this page. I appreciate your passion for the Java language study. </p>
<div class="container">


    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Using Git</h3>
            <p style="font-style: italic;">2 September 2019</p>
            <p class="pcss1">There are two components to using Git.  <span><a href="/usinggit">View More</a></span></p>
        </div><hr/>
        <div class="col" style="background-color:#ff8080;">
            <h3>Clone an Existing Repository</h3>
            <p style="font-style: italic;">4 September 2019</p>
            <p class="pcss1">The complete source code for git is stored on GitHub. <span><a href="/repository">View More</a></span></p>
        </div>
    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Program Design</h3>
            <p style="font-style: italic;"> 5 September 2019</p>
            <p class="pcss1">"The hardest single part of building a software system is deciding precisely what to build." —Fred Brooks <span><a href="/design">View More</a></span></p>
        </div><hr/>
        <div class="col" style="background-color:#ff8080;">
            <h3>Control Structures</h3>
            <p style="font-style: italic;">5 September 2019</p>
            <p class="pcss1">Define the problem by constructing an algorithm using pseudocode <span><a href="/structure">View More</a></span></p>
        </div>

    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>Core Java</h3>
            <p style="font-style: italic;">9 September 2019</p>
            <p class="pcss1">Java is a general-purpose programming language.  <span><a href="/core">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ff8080;">
            <h3>First Java Program</h3>
            <p style="font-style: italic;">9 September 2019</p>
            <p class="pcss1">A journey of a thousand miles begins with a single step. - Laozi <span><a href="/firstjava">View More</a></span></p>
        </div>

    </div><br>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>An Array to Remember</h3>
            <p style="font-style: italic;">16 September 2019</p>
            <p class="pcss1">Storing the history of values in a program is a common task. <span><a href="/array">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ff8080;">
            <h3>ArrayList Debugging Activity</h3>
            <p style="font-style: italic;">18 September 2019</p>
            <p class="pcss1">ArrayList adds several items to the list. <span><a href="/debug">View More</a></span></p>
        </div>

    </div><br/>
    <div class="row">
        <div class="col" style="background-color:#ffcccc;">
            <h3>A Basic Web Page</h3>
            <p style="font-style: italic;">23 September 2019</p>
            <p class="pcss1">Create a basic web page with a title and a header tag that both say, "Hello World!" <span><a href="/basicweb">View More</a></span></p>
        </div>
        <div class="col" style="background-color:#ff8080;">
            <h3>Hyperlinks</h3>
            <p style="font-style: italic;">24 September 2019</p>
            <p class="pcss1">A URL can point to HTML files, text files, images, text documents, video and audio files, and anything else that can live on the Web. <span><a href="/hyperlink">View More</a></span></p>
        </div>

    </div><br/>

</div>>
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->

<footer>
<div class="footer-main-div">
    <p style="color:#ffcce6; ">&copy; Copyright 2019 Emily Marinovich.</p>
    <div class="footer-social-icons">
        <ul>
            <li><a href="https://www.facebook.com/profile.php?id=100001163541033
" target="_blank"><i class="fa fa-facebook"></i></a> </li>
            <li><a href="https://linkedin.com/in/emily-marinovich" target="_blank"><i class="fa fa-linkedin"></i></a> </li>
        </ul>
    </div>

</div>

</footer>
</body>
</html>
